@font-face {
  font-family: 'iCielMedium';
  src: local('iCielMedium'),
    url('./fonts/iCiel-Medium.ttf') format('truetype');
  font-weight: normal;
}

$iciel-medium: 'iCielMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;