.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 98vw;
  top: 0;
  margin-top: 10px;
  margin: 10px;
  z-index: 50;
}

.header__logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__center > p {
  font-size: 14px;
  margin: 10px 15px 10px 15px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.header__right > p {
  font-size: 14px;
  margin: 10px;
}
